/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
select{
  width::80%;
  border:3px solid rgb(200, 200, 207);
  height:42px;
  padding:5px;
  border-radius:3px;
  margin:5px 10px 20px 35px;
}
input[type=text]{
  width:76%;
  border:3px solid rgb(200, 200, 207);
  height:40px;
  padding:5px;
  border-radius:5px;
  margin:5px 10px 20px 35px;
}
input[type=date]{
  width:76%;
  border:3px solid rgb(200, 200, 207);
  height:40px;
  padding:5px;
  border-radius:5px;
  margin:5px 10px 20px 35px;
}
input[type=submit]{
  width: 60%;
  height: 42px;
  padding: 5px;
  border-radius: 0px 14px;
  margin: 30px 70px;
  font-size:unset;
  background-color: #ccbeff;
}
label{
  margin-left:35px;
  font-family: 'Droid Serif', serif;
}
.container{
  width:412px;
  margin:0px auto;
  background-color: rebeccapurple;
  height: 349px;
  border-radius: 60px;
}
.main{
  float:left;
  width:355px;
  height:350px;
  box-shadow:1px 1px 20px gray;
  background-color: beige;

}
h2{
  width:370px;
  text-align:center;
  font-family: 'Droid Serif', serif;
}
