/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
div.container{
    width: 540px;
    height: 600px;
    margin:0px auto;
    font-family: 'Droid Serif', serif;
}
div.main{
    width:425px;
    float:left;
    padding: 30px 40px;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    background-color: azure;
    margin-top:7px;
}
h2{
    text-align:center;
    font-size:18px;
}
p{
    font-size:15px;
    color:#084CA1;
}
label{
    color: #464646;
    font-size: 16px;
    font-weight: bold;
}
button.btn {
    height: 41px;
    margin: 7px 0px;
    padding: 0 20px;
    background: #FEEEDC;
    font-size: 16px;
    font-weight: 300;
    float: left;
    border-radius: 5px;
}
input[type=radio]{
    width:15px;
    height:15px;
}
input[type=text]{
    padding: 5px;
    border-radius:3px;
    margin-left:6px;
    border: 2px solid rgb(165, 165, 165);
    width: 300px;
    height: 25px;
}
form{
    font-size:15px;
}
span{
    color:red;
}
textarea{
    border: 2px solid rgb(165, 165, 165);
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    resize: none;
    height: 65px;
    margin-left:6px;
}